header{
    background-color: #51025a; 
color:white
display: flex; 
}justfy-content:space-arounde;
align-items: center.
padding:24px 0;


.cabecalho-lista-item{  
    display:inline-block;
    }